{
  "env": {
    "development": {
      "presets": "next/babel"
    },
    "production": {
      "presets": "next/babel"
    },
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }],
        "next/babel"
      ]
    },
    "tools": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  },
  "plugins": [
    "transform-flow-strip-types",
    "transform-async-generator-functions",
    "babel-plugin-inline-import-graphql-ast",
    "ramda",
    "lodash",
    ["module-resolver", {
      "root": ["private", "tools", "public/semantic", "public/img", "public/di-charts"],
      "alias": {
        "package.json": "./package.json"
      }
    }],
    ["transform-inline-imports-commonjs", {
      "allowTopLevelThis": true,
      "strict": false,
      "loose": true,
      "excludeNodeBuiltins": true
    }]
  ]
}
