# build output
dist
.output
.out
.next
lib

# dependencies
node_modules
yarn.lock

# logs
*.log

# coverage
.nyc_output
coverage

# test output
test/**/out
.DS_Store
.csslintrc

#editors
.idea

worker_gp.js
worker_ug.js
