# build output
dist
.output
.out
.next

# dependencies
node_modules
yarn.lock
package-lock.json

# logs
*.log

# coverage
.nyc_output
coverage

# test output
test/**/out
.DS_Store
.csslintrc

#editors
.idea

# cache data
private/components/organisms/**/data.js
