.css-glamorous-div--7zqxht,[data-css-glamorous-div--7zqxht] {
  background-color:#e8443a;
  color:#FFFFFF;
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  z-index:450;
  overflow:visible;
  box-shadow:0 0 16px rgba(0,0,0,.3);
 }
 .css-glamorous-div--1dy6nfh,[data-css-glamorous-div--1dy6nfh] {
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  float:left;
 }
 .css-glamorous-div--1dy6nfh img,[data-css-glamorous-div--1dy6nfh] img {
  height:2em;
  width:auto;
  margin-top:1em;
  margin-bottom:1em;
 }
 .css-glamorous-ul--1d92p5i,[data-css-glamorous-ul--1d92p5i] {
  flex-direction:column;
  color:#FFFFFF;
  align-self:flex-end;
  list-style-type:none;
  float:right;
  margin:0px;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -webkit-align-self:flex-end;
 }
 @media(max-width: 960px) {
  .css-glamorous-ul--1d92p5i,[data-css-glamorous-ul--1d92p5i] {
   display:none;
  }
 }
 .css-glamorous-li-pr70fw,[data-css-glamorous-li-pr70fw] {
  display:inline;
 }
 .css-glamorous-div--1rzpcnw,[data-css-glamorous-div--1rzpcnw] {
  height:4em;
  color:#FFFFFF;
  position:relative;
  background:0 0;
  padding-top:1.2em;
  padding-left:0.8em;
  padding-right:0.8em;
  display:inline-table;
  cursor:pointer;
 }
 .css-glamorous-div--1rzpcnw .item,[data-css-glamorous-div--1rzpcnw] .item {
  margin-bottom:12px;
 }
 .css-glamorous-div--1rzpcnw  i.menu-icon,[data-css-glamorous-div--1rzpcnw]  i.menu-icon {
  display:block;
  margin:0px;
  z-index:2;
  position:absolute;
  bottom:102%;
  width:100%;
  left:0%;
  text-align:center;
  transform:translate(0,0);
  transition:-webkit-transform .3s cubic-bezier(.215,.61,.355,1),transform .3s cubic-bezier(.215,.61,.355,1);
  transition-timing-function:cubic-bezier(.215,.61,.355,1);
  -webkit-transform:translate(0,0);
  -webkit-transition:-webkit-transform .3s cubic-bezier(.215,.61,.355,1),transform .3s cubic-bezier(.215,.61,.355,1);
  -moz-transition:transform .3s cubic-bezier(.215,.61,.355,1);
  -webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);
 }
 .css-glamorous-div--1rzpcnw:hover i.menu-icon,[data-css-glamorous-div--1rzpcnw]:hover i.menu-icon {
  transform:translate(0,180%);
  -webkit-transform:translate(0,180%);
 }
 .css-glamorous-div--1rzpcnw .menu-text,[data-css-glamorous-div--1rzpcnw] .menu-text {
  transform:translate(0,0);
  transition:-webkit-transform .3s cubic-bezier(.215,.61,.355,1),transform .3s cubic-bezier(.215,.61,.355,1);
  transition-timing-function:cubic-bezier(.215,.61,.355,1);
  -webkit-transform:translate(0,0);
  -webkit-transition:-webkit-transform .3s cubic-bezier(.215,.61,.355,1),transform .3s cubic-bezier(.215,.61,.355,1);
  -moz-transition:transform .3s cubic-bezier(.215,.61,.355,1);
  -webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);
 }
 .css-glamorous-div--1rzpcnw:hover .menu-text,[data-css-glamorous-div--1rzpcnw]:hover .menu-text {
  transform:;
  -webkit-transform:;
 }
 .css-glamorous-div--1rzpcnw:hover div,[data-css-glamorous-div--1rzpcnw]:hover div {
  opacity:1;
  visibility:visible;
 }
 .css-glamorous-div--1rzpcnw:hover,[data-css-glamorous-div--1rzpcnw]:hover,.css-glamorous-div--1rzpcnw[data-simulate-hover],[data-css-glamorous-div--1rzpcnw][data-simulate-hover] {
  background:#e52e23;
 }
 .css-glamorous-a--16osscp,[data-css-glamorous-a--16osscp] {
  color:#FFFFFF;
  font-weight:700;
  text-align:center;
  transition:all .3s;
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
 }
 .css-glamorous-a--16osscp:hover,[data-css-glamorous-a--16osscp]:hover,.css-glamorous-a--16osscp[data-simulate-hover],[data-css-glamorous-a--16osscp][data-simulate-hover] {
  color:#FFFFFF;
 }
 .css-glamorous-div--7eli1d,[data-css-glamorous-div--7eli1d] {
  height:4em;
  color:#FFFFFF;
  position:relative;
  background:0 0;
  padding-top:1.2em;
  padding-left:0.8em;
  padding-right:0.8em;
  display:inline-table;
  cursor:pointer;
 }
 .css-glamorous-div--7eli1d .item,[data-css-glamorous-div--7eli1d] .item {
  margin-bottom:12px;
 }
 .css-glamorous-div--7eli1d  i.menu-icon,[data-css-glamorous-div--7eli1d]  i.menu-icon {
  display:block;
  margin:0px;
  z-index:2;
  position:absolute;
  bottom:102%;
  width:100%;
  left:0%;
  text-align:center;
  transform:translate(0,0);
  transition:-webkit-transform .3s cubic-bezier(.215,.61,.355,1),transform .3s cubic-bezier(.215,.61,.355,1);
  transition-timing-function:cubic-bezier(.215,.61,.355,1);
  -webkit-transform:translate(0,0);
  -webkit-transition:-webkit-transform .3s cubic-bezier(.215,.61,.355,1),transform .3s cubic-bezier(.215,.61,.355,1);
  -moz-transition:transform .3s cubic-bezier(.215,.61,.355,1);
  -webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);
 }
 .css-glamorous-div--7eli1d:hover i.menu-icon,[data-css-glamorous-div--7eli1d]:hover i.menu-icon {
  transform:translate(0,180%);
  -webkit-transform:translate(0,180%);
 }
 .css-glamorous-div--7eli1d .menu-text,[data-css-glamorous-div--7eli1d] .menu-text {
  transform:translate(0,0);
  transition:-webkit-transform .3s cubic-bezier(.215,.61,.355,1),transform .3s cubic-bezier(.215,.61,.355,1);
  transition-timing-function:cubic-bezier(.215,.61,.355,1);
  -webkit-transform:translate(0,0);
  -webkit-transition:-webkit-transform .3s cubic-bezier(.215,.61,.355,1),transform .3s cubic-bezier(.215,.61,.355,1);
  -moz-transition:transform .3s cubic-bezier(.215,.61,.355,1);
  -webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);
 }
 .css-glamorous-div--7eli1d:hover .menu-text,[data-css-glamorous-div--7eli1d]:hover .menu-text {
  transform:translate(0,50%);
  -webkit-transform:translate(0,50%);
 }
 .css-glamorous-div--7eli1d:hover div,[data-css-glamorous-div--7eli1d]:hover div {
  opacity:1;
  visibility:visible;
 }
 .css-glamorous-div--7eli1d:hover,[data-css-glamorous-div--7eli1d]:hover,.css-glamorous-div--7eli1d[data-simulate-hover],[data-css-glamorous-div--7eli1d][data-simulate-hover] {
  background:#e52e23;
 }
 .css-glamorous-div--1pcr7pd,[data-css-glamorous-div--1pcr7pd] {
  position:fixed;
  top:3em;
  left:0px;
  color:#2a2729;
  width:100%;
  height:auto;
  border-top:10px solid #e52e23;
  padding-top:1em;
  padding-bottom:2em;
  background:#FFFFFF;
  opacity:0;
  visibility:hidden;
  transition:all .3s;
  transform:translate(0,10px);
  box-shadow:0 4px 6px rgba(0,0,0,.3);
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  -webkit-transform:translate(0,10px);
 }
 .css-glamorous-div--1pcr7pd i,[data-css-glamorous-div--1pcr7pd] i {
  width:1.18em;
 }
 .css-glamorous-ul--1ablmcj,[data-css-glamorous-ul--1ablmcj] {
  column-count:2;
  padding-top:2em;
  padding-bottom:2em;
  list-style-type:none;
  margin:0;
  font-size:1.1em;
  -webkit-column-count:2;
  -moz-column-count:2;
 }
 .css-glamorous-button--1au2eel,[data-css-glamorous-button--1au2eel] {
  position:absolute;
  display:none;
  top:0;
  height:4em;
  width:4em;
  border:0;
  right:0;
  text-align:center;
  color:#FFFFFF;
  background:#e52e23;
  outline:0;
 }
 .css-glamorous-button--1au2eel i,[data-css-glamorous-button--1au2eel] i {
  font-size:1.2rem;
  margin:.28rem 0.25rem 0 0;
 }
 @media(max-width: 960px) {
  .css-glamorous-button--1au2eel,[data-css-glamorous-button--1au2eel] {
   display:block;
  }
 }
 .css-glamorous-div--15b9i3j,[data-css-glamorous-div--15b9i3j] {
  background:#fff;
  position:fixed;
  top:4em;
  right:0px;
  width:100%;
  height:100%;
  transition:all .3s;
  opacity:0;
  display:none;
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
 }
 .css-glamorous-nav--12wrldk,[data-css-glamorous-nav--12wrldk] {
  position:fixed;
  top:4em;
  right:-14px;
  width:23em;
  height:100%;
  border-top:10px solid #e52e23;
  padding-bottom:4em;
  overflow:scroll;
  background:#FFFFFF;
  box-shadow:0 4px 6px rgba(0,0,0,.3);
  transform:translate(100%,0);
  transition:all .3s;
  -webkit-transform:translate(100%,0);
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
 }
 .css-glamorous-nav--12wrldk .navigation__item,[data-css-glamorous-nav--12wrldk] .navigation__item {
  position:relative;
  display:block;
  margin-bottom:2px;
  height:4em;
  overflow:hidden;
 }
 .css-glamorous-nav--12wrldk li.active,[data-css-glamorous-nav--12wrldk] li.active {
  height:auto;
  overflow:vissible;
 }
 .css-glamorous-nav--12wrldk .navigation__item-title,[data-css-glamorous-nav--12wrldk] .navigation__item-title {
  display:block;
  height:4em;
  padding:1.5rem 1.8rem 1.8rem 1.8rem;
  font-weight:700;
  background:#DCDDDE;
  cursor:pointer;
  color:#453f43;
 }
 .css-glamorous-ul--1avynmj,[data-css-glamorous-ul--1avynmj] {
  list-style-type:none;
  color:#2a2729;
  margin:0;
  padding:0;
 }
 .css-glamorous-ul--1avynmj li,[data-css-glamorous-ul--1avynmj] li {
  padding:1rem 1.6rem;
  border-bottom: 1px solid #d0cccf;
 }
 .css-glamorous-div-14dnlvi,[data-css-glamorous-div-14dnlvi] {
  margin-top:4em;
 }
 .css-glamorous-div--18vg0gb,[data-css-glamorous-div--18vg0gb] {
  background-color:#2a2729;
  font-size:1.4em;
  text-align:center;
  color:#FFFFFF;
  font-weight:700;
  padding-top:1em;
  padding-bottom:1em;
 }
 .css-glamorous-div--18vg0gb .clickable,[data-css-glamorous-div--18vg0gb] .clickable {
  text-decoration:underline;
  cursor:pointer;
 }

 .css-glamorous-div--1wipm3r,[data-css-glamorous-div--1wipm3r] {
  width:100%;
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-content:stretch;
  transition:all .3s ease-in-out;
  height:0em;
  overflow:hidden;
  background-color:#e9e7e8;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -webkit-flex-direction:row;
  -webkit-box-lines:nowrap;
  -webkit-flex-wrap:nowrap;
  -webkit-align-content:stretch;
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
 }
 .css-glamorous-div--1wipm3r .icon,[data-css-glamorous-div--1wipm3r] .icon {
  display:inline;
  margin-left:0.25em;
 }
 .css-glamorous-div--1wipm3r .list,[data-css-glamorous-div--1wipm3r] .list {
  display:none;
 }
 .css-glamorous-div--1wipm3r input:focus + .list,[data-css-glamorous-div--1wipm3r] input:focus + .list {
  display:-webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
 }
 .css-glamorous-input--oy36ty,[data-css-glamorous-input--oy36ty] {
  font-size:1.4em;
  font-weight:700;
  padding-left:1.5em;
  background-color:transparent;
  border:none;
  flex:2 1;
  transition:all .2s ease-in-out;
  -webkit-flex:2 1;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
 }
 .css-glamorous-input--oy36ty:focus,[data-css-glamorous-input--oy36ty]:focus,.css-glamorous-input--oy36ty[data-simulate-focus],[data-css-glamorous-input--oy36ty][data-simulate-focus] {
  outline:none;
  padding-left:1.7em;
  background-color:#FFFFFF;
  border-radius:.125em;
 }
 .css-glamorous-div-14s9sbg,[data-css-glamorous-div-14s9sbg] {
  position:relative;
  visibility:hidden;
 }
 .css-glamorous-ul--3fwj6e,[data-css-glamorous-ul--3fwj6e] {
  border-radius:.125em;
  box-shadow:0 .125em .125em 0 rgba(0,0,0,.2);
  list-style-type:none;
  position:absolute;
  top:-1.23em;
  width:100%;
  padding-left:0px;
  background-color:#FFFFFF;
  max-height:18em;
  align-items:stretch;
  overflow-y:scroll;
  z-index:9999;
  -webkit-box-align:stretch;
  -webkit-align-items:stretch;
 }
 .css-glamorous-ul--3fwj6e li,[data-css-glamorous-ul--3fwj6e] li {
  padding:1em;
  font-weight:700;
  cursor:pointer;
 }
 .css-glamorous-ul--3fwj6e li:hover,[data-css-glamorous-ul--3fwj6e] li:hover {
  background-color:#FFFFFF;
 }
 .css-glamorous-ul--3fwj6e li.active,[data-css-glamorous-ul--3fwj6e] li.active {
  background-color:#DCDDDE;
 }
 .css-glamorous-div-1mgntgb,[data-css-glamorous-div-1mgntgb] {
  padding-top:2em;
  padding-bottom:2em;
  font-size:1.2rem;
 }
 .css-glamorous-div-1kpb0f8,[data-css-glamorous-div-1kpb0f8] {
  background:#e9e7e8;
 }
 .css-glamorous-ul--o4731g,[data-css-glamorous-ul--o4731g] {
  list-style-type:none;
  margin:0;
  padding:0;
  list-style:none;
  text-align:center;
  color:#453f43;
 }
 .css-glamorous-ul--o4731g .active,[data-css-glamorous-ul--o4731g] .active {
  color:#FFFFFF;
  background-color:#453f43;
 }
 .css-glamorous-ul--o4731g li,[data-css-glamorous-ul--o4731g] li {
  display:-webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
 }
 .css-glamorous-a--g106uh,[data-css-glamorous-a--g106uh] {
  padding:.75em .85em;
  margin-right:0px;
  cursor:pointer;
 }
 .css-glamorous-div--1x7vm9r,[data-css-glamorous-div--1x7vm9r] {
  background-color:#453f43;
  font-weight:700;
  padding-top:.5em;
  padding-bottom:.5em;
 }
 .css-glamorous-div--uon0bf,[data-css-glamorous-div--uon0bf] {
  color:#FFFFFF;
 }
 .css-glamorous-div--uon0bf .ui.button,[data-css-glamorous-div--uon0bf] .ui.button {
  padding-top:.5em;
  padding-bottom:.5em;
  padding-right:.85em;
  padding-left:0.75em;
 }
 .css-glamorous-div--uon0bf option,[data-css-glamorous-div--uon0bf] option {
  color:#333;
 }
 .css-glamorous-select--nczedj,[data-css-glamorous-select--nczedj] {
  font-weight:700;
  font-size:18px;
  display:inline-block;
  vertical-align:middle;
  margin:0;
  padding:.25em 0em .25em .25em;
  line-height:1.5;
  transition:all .25s;
  background:transparent;
  border:0;
  cursor:pointer;
  outline:0;
  appearance:none;
  -webkit-transition:all .25s;
  -moz-transition:all .25s;
  -webkit-appearance:none;
  -moz-appearance:none;
 }
 .css-glamorous-select--nczedj:before,[data-css-glamorous-select--nczedj]:before,.css-glamorous-select--nczedj[data-simulate-before],[data-css-glamorous-select--nczedj][data-simulate-before] {
  content:"💎";
 }
 .css-glamorous-select--nczedj:after,[data-css-glamorous-select--nczedj]:after,.css-glamorous-select--nczedj[data-simulate-after],[data-css-glamorous-select--nczedj][data-simulate-after] {
  content:'';
  position:absolute;
  left:-50px;
  top:50px;
  width:0px;
  height:0px;
  border:50px solid transparent;
  border-top-color:red;
 }
 .css-glamorous-div-tyzsmu,[data-css-glamorous-div-tyzsmu] {
  display:inline-block;
 }
 .css-glamorous-div--1ce650k,[data-css-glamorous-div--1ce650k] {
  position:absolute;
  top:-50px;
  font-weight:normal;
  left:20px;
  right:20px;
  bottom:0px;
  z-index:200;
  background:rgba(0,0,0,.65);
  border:1px solid #000;
  border-radius:5px;
  max-height:740px;
  color:#fff;
  line-height:1.5;
  display:none;
 }
 .css-glamorous-div--atdi3l,[data-css-glamorous-div--atdi3l] {
  padding:0 20px;
  font-size:1.1em;
 }
 .css-glamorous-a--53n8gl,[data-css-glamorous-a--53n8gl] {
  position:absolute;
  right:20px;
  top:20px;
  z-index:100;
  color:#fff;
  font-size:1.5em;
 }
 .css-glamorous-ul--11e48di,[data-css-glamorous-ul--11e48di] {
  padding:0px;
  margin:0px;
 }
 .css-glamorous-ul--11e48di li,[data-css-glamorous-ul--11e48di] li {
  list-style:none;
  margin:0;
  padding:0;
  position:absolute;
 }
 .css-glamorous-ul--11e48di .item-1,[data-css-glamorous-ul--11e48di] .item-1 {
  top:10px;
  left:10px;
 }
 .css-glamorous-ul--11e48di .item-1 .tour-item-pointer,[data-css-glamorous-ul--11e48di] .item-1 .tour-item-pointer {
  height:470px;
  top:100%;
  left:10px;
 }
 .css-glamorous-ul--11e48di .item-2,[data-css-glamorous-ul--11e48di] .item-2 {
  top:100px;
  left:50px;
 }
 .css-glamorous-ul--11e48di .item-3,[data-css-glamorous-ul--11e48di] .item-3 {
  top:60px;
  left:50%;
  margin-left:420px;
 }
 .css-glamorous-ul--11e48di .item-4,[data-css-glamorous-ul--11e48di] .item-4 {
  top:110px;
  left:50%;
  margin-left:-270px;
 }
 .css-glamorous-ul--11e48di .item-5,[data-css-glamorous-ul--11e48di] .item-5 {
  top:110px;
  left:50%;
  margin-left:15px;
 }
 .css-glamorous-ul--11e48di .item-6,[data-css-glamorous-ul--11e48di] .item-6 {
  top:200px;
  right:60px;
 }
 .css-glamorous-ul--11e48di .item-7,[data-css-glamorous-ul--11e48di] .item-7 {
  top:350px;
  left:50%;
 }
 .css-glamorous-ul--11e48di .item-8,[data-css-glamorous-ul--11e48di] .item-8 {
  top:400px;
  left:50%;
 }
 .css-glamorous-ul--11e48di .item-9,[data-css-glamorous-ul--11e48di] .item-9 {
  bottom:10px;
  left:50%;
  width:300px;
  margin-left:-150px;
  text-align:center;
 }
 .css-glamorous-ul--11e48di .item-10,[data-css-glamorous-ul--11e48di] .item-10 {
  bottom:10px;
  right:5%;
  text-align:center;
 }
 .css-glamorous-span--k72jkp,[data-css-glamorous-span--k72jkp] {
  position:absolute;
  left:50%;
  margin-left:-2px;
  width:4px;
  background:#fff;
 }
 .css-glamorous-span--k72jkp i,[data-css-glamorous-span--k72jkp] i {
  position:absolute;
  top:100%;
  left:-7px;
  margin-top:-10px;
 }
 .css-glamorous-div--bpmo4s,[data-css-glamorous-div--bpmo4s] {
  background:#e9e7e8;
  width:100%;
  height:600px;
 }
 @media(max-width: 1000px) {
  .css-glamorous-div--bpmo4s,[data-css-glamorous-div--bpmo4s] {
   height:480px;
  }
 }
 .css-glamorous-div--174kcsj,[data-css-glamorous-div--174kcsj] {
  background:#453f43;
  padding-top:2em;
  padding-bottom:2em;
  text-align:center;
 }
 .css-glamorous-h2--dzsmfs,[data-css-glamorous-h2--dzsmfs] {
  padding:1em 1em 1em 1em;
  display:inline-block;
  margin:0;
  letter-spacing:1px;
  line-height:1;
  text-transform:uppercase;
  font-size:1em;
  background:#e8443a;
  color:#FFFFFF;
 }
 .css-glamorous-h2--dzsmfs span,[data-css-glamorous-h2--dzsmfs] span {
  color:#e8443a;
 }
 .css-glamorous-div-1xxn3fr,[data-css-glamorous-div-1xxn3fr] {
  padding-top:2em;
  padding-bottom:2em;
 }
 .css-glamorous-h2--1893qo3,[data-css-glamorous-h2--1893qo3] {
  padding:1em 1em 1em 1em;
  display:inline-block;
  margin:0;
  letter-spacing:1px;
  line-height:1;
  text-transform:uppercase;
  font-size:1em;
  background:#e9e7e8;
  color:#453f43;
 }
 .css-glamorous-h2--1893qo3 span,[data-css-glamorous-h2--1893qo3] span {
  color:#e8443a;
 }
 .css-glamorous-p-1mk0zz3,[data-css-glamorous-p-1mk0zz3] {
  text-align:center;
 }
 .css-glamorous-div--wkxth9,[data-css-glamorous-div--wkxth9] {
  background:#e9e7e8;
  padding-top:1em;
  padding-bottom:2em;
 }
 .css-glamorous-h2--1l0tenq,[data-css-glamorous-h2--1l0tenq] {
  padding:1em 1em 1em 1em;
  display:inline-block;
  margin:0;
  letter-spacing:1px;
  line-height:1;
  text-transform:uppercase;
  font-size:1em;
  background:#FFFFFF;
  color:#453f43;
 }
 .css-glamorous-h2--1l0tenq span,[data-css-glamorous-h2--1l0tenq] span {
  color:#e8443a;
 }
 .css-glamorous-div--20wjhc,[data-css-glamorous-div--20wjhc] {
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction:column;
  align-items:center;
  background-color:#e8443a;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -webkit-box-align:center;
  -webkit-align-items:center;
 }
 .css-glamorous-div--20wjhc p,[data-css-glamorous-div--20wjhc] p {
  color:#FFFFFF;
 }
 .css-glamorous-div--1ql88cv,[data-css-glamorous-div--1ql88cv] {
  background-color:#2a2729;
  width:100%;
  flex-direction:row;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -webkit-flex-direction:row;
 }
 .css-glamorous-div--1fz7ida,[data-css-glamorous-div--1fz7ida] {
  padding-top:2em;
  padding-bottom:2em;
 }
 .css-glamorous-h3--2rqooq,[data-css-glamorous-h3--2rqooq] {
  display:block;
  color:#FFFFFF;
  margin-top:1em;
  margin-bottom:1em;
 }
 .css-glamorous-a--1lrnek8,[data-css-glamorous-a--1lrnek8] {
  font-size:1em;
  display:block;
  color:#e9e7e8;
  padding-bottom:.5em;
  padding-top:.5em;
 }
 .css-glamorous-div--19bk2r4,[data-css-glamorous-div--19bk2r4] {
  background-color:#FFFFFF;
  width:100%;
  flex-direction:row;
  padding-top:20px;
  padding-bottom:20px;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -webkit-flex-direction:row;
 }
 .css-glamorous-a--bf4sgd,[data-css-glamorous-a--bf4sgd] {
  display:inline-block;
  color:#2a2729;
  border:2px solid #60575d;
  border-radius:50%;
  font-size:1.5em;
  height:2.5em;
  width:2.5em;
  background:0 0;
  line-height:2.3em;
  text-align:center;
  box-sizing:border-box;
  padding-left:3px;
  margin-left:5px;
 }
 .css-glamorous-div--1r456ej,[data-css-glamorous-div--1r456ej] {
  padding:4px;
  color:#FFFFFF;
  padding-top:2em;
  padding-bottom:2em;
 }

 .css-glamorous-select--111gpp3:after,[data-css-glamorous-select--111gpp3]:after,.css-glamorous-select--111gpp3[data-simulate-after],[data-css-glamorous-select--111gpp3][data-simulate-after] {
  content:"💎";
 }

 .css-glamorous-select--1ws0tdd:before,[data-css-glamorous-select--1ws0tdd]:before,.css-glamorous-select--1ws0tdd[data-simulate-before],[data-css-glamorous-select--1ws0tdd][data-simulate-before] {
  content:"💎";
 }
 .css-glamorous-select--1ws0tdd:after,[data-css-glamorous-select--1ws0tdd]:after,.css-glamorous-select--1ws0tdd[data-simulate-after],[data-css-glamorous-select--1ws0tdd][data-simulate-after] {
  content:'';
  position:absolute;
  left:-50px;
  top:50px;
  width:0px;
  height:0px;
  border:50px solid transparent;
  border-top-color:red;
 }
 .css-glamorous-ul--1g453fg,[data-css-glamorous-ul--1g453fg] {
  flex-direction:column;
  color:#FFFFFF;
  align-self:flex-end;
  list-style-type:none;
  float:right;
  margin:0px;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -webkit-align-self:flex-end;
 }
 @media only screen and (max-width: 600px) {
  .css-glamorous-ul--1g453fg,[data-css-glamorous-ul--1g453fg] {
   display:none;
  }
 }
 .css-glamorous-button--jt4883,[data-css-glamorous-button--jt4883] {
  position:absolute;
  display:none;
  top:0;
  height:4em;
  width:4em;
  border:0;
  right:0;
  text-align:center;
  color:#FFFFFF;
  background:#e52e23;
  outline:0;
 }
 .css-glamorous-button--jt4883 i,[data-css-glamorous-button--jt4883] i {
  font-size:1.2rem;
  margin:.28rem 0.25rem 0 0;
 }
 @media only screen and (max-width: 1000px) {
  .css-glamorous-button--jt4883,[data-css-glamorous-button--jt4883] {
   display:block;
  }
 }
 .css-glamorous-div--1n3ygpo,[data-css-glamorous-div--1n3ygpo] {
  background:#e9e7e8;
  width:100%;
  height:600px;
 }
 @media only screen and (max-width: 1000px) {
  .css-glamorous-div--1n3ygpo,[data-css-glamorous-div--1n3ygpo] {
   height:480px;
  }
 }
