#di-map-base .mapboxgl-map {
  font-family: 'geomanist, sans-serif';
}
#di-map-base  .mapboxgl-popup-content{
  background-color: rgba(0,0,0,0.9) !important;
  box-shadow: none !important;
  color: white !important;
  font-family: 'geomanist, sans-serif';
  -webkit-tap-highlight-color : black;
}
#di-map-base .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{border-top-color:  rgba(0,0,0,0.9) }
#di-map-base .mapboxgl-popup-anchor-top .mapboxgl-popup-tip{border-bottom-color:  rgba(0,0,0,0.9) }
#di-map-base .mapboxgl-map .mapboxgl-popup-content .mapBox-popup p {margin-bottom: 0};
